<div id="about_container" class="container pt-5 pb-5">
    <div class="row justify-content-center" style="height: 15rem;">
    <div class="card shadow m-0 p-0 bg-white rounded" style="width: 50rem;position: absolute;margin-top: 5vh;">
        <a  *ngIf="editOn" class="edit-icon text-primary p-1" href="">Edit</a>
        <div class="row no-gutters">
        <div class="col-sm">
            <div class="card-body">
                <h5 class="card-title pb-3">About</h5>
                <p class="card-text">{{about}}</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="card-body">
            <h5 class="card-title pb-3">Basic Infomration</h5>
                <div class="row"><h6 class="col-4" >Email </h6> <p class="col-auto">{{email}}</p></div>
                <div class="row"><h6 class="col-4" >Phone </h6> <p class="col-auto">{{phone}}</p></div>
                <div class="row"><h6 class="col-4" >Address </h6> <p class="col-auto"> {{address}}</p></div>
                <div class="row"><h6 class="col-4" >Language  </h6> <p class="col-auto">{{language}}</p></div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>