<div class="bg-image" style="background-image: url('assets/contactMe.png');height: 33rem;background-position: center;background-size:  cover;">
    <div class="row justify-content-center">
        <div class="card rounded mt-5 p-2 shadow" style="width: 50rem;">
        <form class=" p-2">
            <div class="row p-2">
                <h4 style="text-align: center;">Contact Me</h4>
            </div>
            <div class="row p-2">
                <div class="col"><label for="inputEmail4">Name</label><input type="email" class="form-control" id="inputEmail4" placeholder="Name"></div>
                <div class="col"><label for="inputEmail4">Email</label><input type="email" class="form-control" id="inputEmail4" placeholder="Email"></div>
            </div>
            <div class="row p-2">
                <div class="col"><label for="inputEmail4">Subject</label><input type="email" class="form-control" id="inputEmail4" placeholder="Subject"></div>
                <div class="col"><label for="inputEmail4">Phone</label><input type="email" class="form-control" id="inputEmail4" placeholder="Phone"></div>
            </div>
            <div class="row p-2">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                 </div>
            <div class="row p-2 justify-content-center">
                <button type="submit" class="btn btn-success" style="width: 100px;">Send</button>
            </div>
          </form>
        </div>
    </div>
</div>